# Colored ls and grep
alias ls='command ls --color=auto'
alias grep='command grep --color=auto'

# Directory Listings
alias ll='ls -lhrt'

# Default to human readable figures
alias df='df -h'
alias du='du -h'

# IP Addresses
alias publicip='dig +short -4 myip.opendns.com @resolver1.opendns.com'
alias publicip6='dig +short -6 myip.opendns.com AAAA @resolver1.ipv6-sandbox.opendns.com'
alias privateip='ip -4 -o addr show eth0 | egrep -o "([[:digit:]]{1,3}\.){3}[[:digit:]]{1,3}" | head -n 1'

# Allow for dotfiles to be updated
alias update_dotfiles='cd ~ && curl -Lk# https://github.com/hassanalsaffar/DotFiles/tarball/master | tar --strip-components 1 -xz && source .bash_profile'

# Snort 
alias snort-rules-check='if [ test `find "/etc/snort/rules/sid-msg.map" -mmin +2880` ] ; then echo "Ok"; else echo "Old"; fi'
alias snort-rules-update='/usr/bin/perl /usr/local/bin/pulledpork.pl -c /etc/snort/pulledpork.conf -l'
